<div class="col-lg-2" style="background-color: white;">
        </div>

      <div class="col-lg-10">
        <h1>welcome to  Travel Helpers!!</h1>

       <p>Travel Helpers is the SNS that can match between Travelers and Guides  </p>

       <p>You would like to be guide, you would like to find guide, you can use this app </p>
