

<div class="container-prefecture">
          <% @prefectures.each do |prefecture| %>
                <div class="prefecture-box">
                  <div class="prefecture-name">
                   <%= link_to prefecture.name, prefecture_path(prefecture.id), class: 'prefecture_#{@prefecture.id}'  %></div>
                
                <p>
                <%= attachment_image_tag prefecture, :image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "100x100" %></p>
                </div>
     　　 　<% end %>
    </div>