<section class="slice sct-color-1">
  <div class="container">
    <%= form_with model: @prefecture, url: prefectures_path do |f| %>

    </div>
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
  <br>
  <div class="prefecture">
    <div class="row">
      <div class="col-sm-12">
        <%= f.attachment_field :image %>
        <%= f.text_area :name, class:"form-control", rows:"3", placeholder:"prefecture name" %>
      </div>
    </div>
  </div>
  <hr>
  <%= f.submit "送信", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
<% end %>
  </div>
</section>