<table width="300" height="10", class="table table-default">
        <h2></h2>
          <thead>
            <th></th>
            <th>Opinion</th>
          </thead>
        <tbody>
          <% @search_posts.each do |post| %>
            <tr>
            <td>
              <%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" ,:size => "40x40" %>
            </td>
            <td>
            <p class="result"><%= post.content %></p>
            </td>
            <td></td>
     　　 　<% end %>
        </tbody>
      </table>